// Colors
$color-white: #fff;
$color-gray: #aaa;
$color-black: #222;

// Spacing
$spacer-base: 5px;
$spacer-2: $spacer-base * 2;
$spacer-3: $spacer-base * 3;
$spacer-4: $spacer-base * 4;
$spacer-5: $spacer-base * 5;
$spacer-6: $spacer-base * 6;
$spacer-7: $spacer-base * 7;
$spacer-8: $spacer-base * 8;

// Font family
$font-family-base: 'Roboto', sans-serif;

// Font size
$body-font-size: 0.8rem;
$body-font-size-2: 1.4rem;

$header-font-size: 1.5rem;